.featured-media__container {
  display: grid;
  grid-row: featured-med-s/featured-med-e;
  padding: 100px;
  padding-top: 0px;
}

.media-header {
  font-family: "Raleway", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  padding: 50px;
}

.featured-media__wrapper {
  display: grid;
  grid-template-rows: 300px 300px;
  grid-template-columns: [main-s] 1fr[main-e second-s] 0.5fr [second-e third-s] 0.5fr [third-e];
  grid-row-gap: 8px;
  grid-column-gap: 10px;
}

.featured-media__main,
.featured-media__small {
  display: flex;

  justify-content: center;

  align-items: center;
  position: relative;

  .main-media__title,
  .small-media__title {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    color: white;
    text-shadow: 4px 4px black;

    position: absolute;
    justify-content: center;
    text-align: center;
    z-index: 1;
  }

  .main-media__title {
    font-size: 6.5em;
  }
  .small-media__title {
    font-size: 3.2em;
  }
}

.featured-media__main {
  grid-row: 1/-1;
  grid-column: main-s/main-e;

  height: 600px;

  .media-main_image {
    height: 600px;
    width: 600px;
    transform: rotate(90deg);

    border-radius: 10px;
  }
}

.featured-media__small {
  height: 290px;
  .media-small_image {
    height: 292px;
    width: 300px;
    border-radius: 10px;
  }
}

.featured-media__main:hover .overlay,
.featured-media__small:hover .overlay {
  height: 100%;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(32, 32, 32, 0.89);
  overflow: hidden;
  width: 100%;
  height: 0;
  text-align: center;
  border-radius: 10px;

  transition: 0.5s ease;
  z-index: 2;

  .content-text-main,
  .content-text-small {
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;

    padding: 15px;
  }

  .content-text-small {
    font-size: 1.5rem;
  }
}

.content-text__main-header {
  font-size: 3em;
  padding-top: 10px;
}

.content-text__main-summary {
  font-size: 2em;
}

.content-text__small-header {
  font-size: 1em;
  padding-top: 10px;
}

.content-text__small-summary {
  font-size: 0.75em;
}

.visitButton,
.visitButton-large {
  position: relative;
  bottom: 5%;

  outline: 2px solid white;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
  padding: 10px;

  transition: 0.3s all ease-in-out;

  font-family: "Raleway", sans-serif;
  font-weight: 900;
}

.visitButton:hover,
.visitButton:focus,
.visitButton-large:focus,
.visitButton-large:hover {
  background-color: white;
  outline: none;
  border: 0;
  text-decoration: none;
  outline: 2px solid white;
  color: rgb(46, 46, 46);
}

@media (max-width: 375px) {
  .featured-media__container {
    display: flex;
    flex-direction: column;
    padding: 0px;
  }

  .media-header {
    padding: 20px;
    text-align: center;
  }

  .featured-media__wrapper {
    display: flex;
    flex-direction: column;
  }

  .featured-media__main {
    .main-media__title {
      font-size: 3.2em;
    }
  }

  .featured-media__main {
    height: 375px;

    .media-main_image {
      height: auto;
      width: 375px;
      border-radius: 0px;
    }
  }

  .main-media__title {
    font-size: 6.5em;
  }


  .featured-media__small {
    height: 375px;
    .media-small_image {
      height: 375px;
      width: 375px;
      border-radius: 0px;
    }
  }
  .overlay {
    border-radius: 0px;
    .content-text-small {
      font-size: 1.5rem;
    }
  }
  .content-text__main-header {
    font-size: 2em;
  }
  .content-text__main-summary {
    font-size: 1.2em;
  }
  .content-text__small-header {
    font-size: 1.3em;
  }
  .content-text__small-summary {
    font-size: 1em;
  }
}
