.header-wrapper {
  background-image: url(../../static/assets/images/landingPage/landingPageBackground.jpg);
  margin-bottom: 30px;
  margin: 0px;
  padding: 0px;
  height: 100vh;
  background-size: cover;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header-text {
  color: white;
  font-size: 4rem;
}

.main-logo {
  position: absolute;
  top:2vh;
  padding: 20px;
}

//Down Arrow
#down {
  position: absolute;
  top: 80vh;
  padding: 20px;
  font-size: 5rem;
  color: white;
  animation: fadeIn 2s ease-in-out 3s infinite alternate;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
