.header-wrapper {
  background-image: url(../../static/assets/images/landingPage/landingPageWallpaper.jpg);
  margin-bottom: 30px;
  margin: 0px;
  padding: 0px;
  height: 100vh;
  background-size: cover;

  display: flex;
  flex-direction: column;

  justify-content: center;
}
.header-text {
  color: rgb(27, 27, 27);
  font-size: 4rem;
  text-align: left;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;

  display: flex;
  padding: 20px;
  
}

//Down Arrow
#down {
  position: absolute;
  top: 80vh;
  padding: 20px;
  font-size: 5rem;
  color: white;
  animation: fadeIn 2s ease-in-out 3s infinite alternate;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

