//Local Interests Styles
.local-interests__wrapper {
  display: grid;
  text-transform: uppercase;
  width: 100%;
  padding: 40px 55px;
  text-align: center;
  grid-row: local-s/local-e;
}

.local-interests-container {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  flex-direction: row-reverse;
  padding-top: 20px;
}

.local-interests__cards {
  display: grid;
  width: 100%;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
}
.local-interests__section {
  display: grid;
  grid-template-columns: 1fr 1fr;

  img {
    height: auto;
    width: 650px;
  }
}
.local-interest__one {
  display: flex;
  flex-direction: row;
}

.local-interest__two {
  display: flex;
  flex-direction: row-reverse;
}

.local-interests__content {
  padding: 60px 100px;
  text-align: left;
}

@media (max-width: 375px) {
  .local-interests__wrapper {
    display: flex;
    flex-direction: column;
    width: 375px;
    // text-transform: uppercase;
    // width: 100%;
    padding: 20px 0px;
    // text-align: center;
    // grid-row: local-s/local-e;

    h3 {
      padding: 5px;
    }
  }
  
  .local-interests-container {
    // display: flex;
    // justify-content: space-evenly;
    // align-content: center;
    // flex-direction: row-reverse;
    // padding-top: 20px;
  }
  
  .local-interests__cards {
    display: grid;
    width: 100%;
    grid-template-rows: 1fr ;
    grid-template-columns: 1fr;
  }
  .local-interests__section {
    display: grid;
    grid-template-columns: 1fr 1fr;
  
    img {
      height: auto;
      width: 100vw;
    }
  }
  .local-interest__one,
  .local-interest__two {
    display: flex;
    flex-direction: column;
    width: 375px;
  }
  

  
  .local-interests__content {
    padding:10px;
    text-align: left;
  }
}
