
@media (max-width: 415px) {
    .local-interests__wrapper {
      display: flex;
      flex-direction: column;
      width: 100vw;
      padding: 20px 0px;
  
      h3 {
        padding: 5px;
      }
    }
  
    .local-interests__cards {
      display: grid;
      width: 100%;
      grid-template-rows: 1fr;
      grid-template-columns: 1fr;
    }
    .local-interests__section {
      display: grid;
      grid-template-columns: 1fr 1fr;
  
      img {
        height: auto;
        width: 100vw;
      }
    }
    .local-interest__one,
    .local-interest__two {
      display: flex;
      flex-direction: column;
      width: 100vw;
    }
  
    .local-interests__content {
      padding: 10px;
      text-align: left;
    }
  }

    //TABLE STYLES
    @media only screen and (min-width: 416px) and (max-width: 834px) {
      .local-interests__wrapper {
        display: flex;
        flex-direction: column;
        width: 100vw;
        padding: 20px 0px;
    
        h3 {
          padding: 5px;
        }
      }
    
      .local-interests__cards {
        display: grid;
        width: 100%;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
      }
      .local-interests__section {
        display: grid;
        grid-template-columns: 1fr 1fr;
    
        img {
          height: auto;
          width: 100vw;
        }
      }
      .local-interest__one,
      .local-interest__two {
        display: flex;
        flex-direction: column;
        width: 100vw;
      }
    
      .local-interests__content {
        padding: 20px;
        text-align: left;
      }
    }